{% extends 'base.html' %}

{% block content %}
<div>
    
</div>
<div>
    
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>NodeName</th>
                <th>Country</th>
                <th>City</th>
                <th>peerings</th>
                <th>Peer!</th>
            </tr>
        </thead>
        {% for node in config["nodes"] %} 
        <tr>
            <td>{{node}}</td>
            <td>{{config["nodes"][node]["country"]}}</td>
            <td>{{config["nodes"][node]["city"]}}</td>
            <td></td>
            <td><a href="peerings/new?node={{node}}">peer</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}