{% extends 'base.html' %}

{% block content %}

{% if msg %}
<div style="background-color: red;">
    {{msg}}
</div>
{% endif %}

<form action="https://dn42.g-load.eu/auth/">
    <link rel="stylesheet" href="https://dn42.g-load.eu/auth/assets/button-font/auth.css"> 
    <input type="hidden" id="return" name="return" value='{{"http://"+config["domain"]+"/api/auth/kverify"}}'>
    <button type="submit" class="kioubit-btn kioubit-btn-primary kioubit-btn-dark kioubit-btn-main">
    <span class="icon-kioubit-auth"></span>Authenticate with Kioubit.dn42
    </button>
</form>

<form action="" method="post">
    <input type="text" name="logincode" id="logincode">
    <input type="submit" value="submit">
</form>

{% endblock %}